

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    /************************************************************
    *                       Section-1                           *
    ************************************************************/
    
    
    .hero-content-container {
        width: 90%;
    }
    
    .hero-title {
        font-size: 7rem;
    }
    
    .hero-text {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        margin: 0 0.5rem;
    }
    

    /************************************************************
    *                       Section-2   (max-width: 991.98px)   *
    ************************************************************/
    #section-2 {
        height: 80vh;
        margin-top: 3rem;
    }

    #homeSlider {
        width: 100%;
        max-height: 90vh;
    }

    #slider-image {
        display: block;
        width: 70%;
        margin-bottom: 0;
    }

    #slider-image-mobile-90,
    #slider-image-mobile {
        display: none;
    }

    .wine-banner {
        text-align: center;
    }

    .banner-grape,
    .dash {
        display: inline;
    }

    .banner-description {
        display: none;
    }

    .slick-prev:before, .slick-next:before {
        display: none;
    }

}

/* // Small devices (portrait phones, less than 767.98px) */
@media (max-width: 767.98px) {

    /************************************************************
    *                       Section-1                           *
    ************************************************************/
        
    .hero-title {
        font-size: 4.5rem;
    }
    
    .hero-text {
        font-size: 1.25rem;
        padding: 1rem 1rem;
        margin: 0 0.5rem;
    }
    

    /************************************************************
    *                       Section-2   (max-width: 767.98px)   *
    ************************************************************/
    #section-2 {
        height: 90vh;
        margin-top: 3rem;
    }

    #homeSlider {
        width: 100%;
    }

    #slider-image-mobile-90 {
        display: block;
        width: 50%;
        margin-bottom: 0;
    }

    #slider-image-mobile,
    #slider-image {
        display: none;
    }

    .wine-banner {
        text-align: center;
    }

    .banner-name {
        font-size: 1.2rem;
    }

    .banner-region {
        font-size: 1rem;
    }

    .banner-grape,
    .banner-description,
    .dash {
        display: none;
    }

    .slick-prev:before, .slick-next:before {
        display: none;
    }

}
    /* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /************************************************************
    *                       Section-1                           *
    ************************************************************/
    

    /************************************************************
    *                       Section-2   (max-width: 575.98px)   *
    ************************************************************/

    #slider-image,
    #slider-image-mobile-90 {
        display: none;
    }

    #slider-image-mobile {
        display: block;
        width: 90%;
        margin-bottom: 2rem;
    }

    .banner-grape,
    .banner-description,
    .dash {
        display: none;
    }


}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {} 
/* 
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */
