{% extends 'layout.html.twig' %}

{% block title %}Edit Wine{% endblock %}

{% block content %}
    <section id="wineEdit">
        <div class="container-fluid">
            <h1>Edit Wine</h1>
                {{ include('wine/_form.html.twig', {'button_label': 'Update'}) }}
                <a class="action-link" href="{{ path('wine') }}">back to list</a>
                {% if app.user == true %}
                {{ include('wine/_delete_form.html.twig') }}
                {% endif %}
        </div>
    </section>
{% endblock %}
