{% extends 'layout.html.twig' %}

{% block title %}Edit Wine{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/collection.css">
    {% endblock %}

{% block content %}
    <section id="collection">
        <div class="container-fluid">
            <h1>Edit Wine</h1>
                {{ include('wine/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="col-md-12">
                <div class="row d-flex justify-content-between">
                    <a class="action-link" href="{{ path('wine') }}">back to list</a>
                    {% if app.user == true %}
                    {{ include('wine/_delete_form.html.twig') }}
                    {% endif %}
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
