{% extends 'layout.html.twig' %}

{% block title %}New Wine{% endblock %}

{% block content %}
    <section id="wineNew">
        <div class="container-fluid">
            <h1>Create new Wine</h1>
                {{ include('wine/_form.html.twig') }}

            <a class="action-link" href="{{ path('wine') }}">back to list</a>
        </div>
    </section>
{% endblock %}
