{% extends 'admin/index.html.twig' %}

{% block title %}New User{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin.css">
            <link rel="stylesheet" href="/css/views/user.css">
    {% endblock %}

{% block content %}
<section id="user">
    <div class="container-fluid">
        <h2>Create new User</h2>
        <a class="action-link" href="{{ path('user_index') }}"><i class="fas fa-arrow-left"></i>  back to list</a>
        {{ include('admin/user/_form.html.twig') }}

        
    </div>
</section>

{% endblock %}
