
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .sectionTitle {
        display: none;
    }

    .admin-nav {
        height: 5vh;
    }

    .admin-nav-item {
        font-size: 20px;
        text-align: center;
    }

    #sectionNav {
        height: 5vh;
        min-height: auto;
        margin-bottom: 0.5rem;
    }

    #user,
    #article,
    #homepage {
        min-height: 76vh;
    }

    .admin-nav-item {
        padding: 0.5rem 0.2rem;
    }

    .label {
        display: none;
    }

    .roles {
        display: block;
    }

    .id,
    .firstname,
    .lastname {
        display: none;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /************************************************************
    *                         (max-width: 575.98px)                      
    ************************************************************/

    .roles {
        display: none;
    }

    .admin-nav-item {
        font-size: 16px;
    }
    /************************************************************
    *                            (max-width: 575.98px)                  
    ************************************************************/


    /************************************************************
    *                            (max-width: 575.98px)                  
    ************************************************************/



}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {} 
/* 
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */
