#admin {
    margin: 0 0 1rem 0;
}

#sectionNav {
    min-height: 10vh;
    height: 10vh;
}


.cms-image {
    max-width: 100%;
}

.article-image-large {
    max-width: 100%;
    max-height: 80vh;
}

.admin-nav {
    margin: 1rem 0;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}



.admin-nav a {
    color: black;
    text-transform: uppercase;
}

.admin-nav a:hover {
    text-decoration: none;
}
