#admin {
    margin: 0 0 1rem 0;
}

#sectionNav {
    height: 5vh;
    min-height: 5rem;
    margin-bottom: 1rem;
}

.article-image-large {
    height: 80vh;
    min-height: 45rem;
    margin: 1rem 0;
}

.admin-nav {
    margin: 1rem 0;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    text-align: left;
}



.admin-nav a {
    color: black;
    text-transform: uppercase;
}

.admin-nav a:hover {
    text-decoration: none;
}
