/*===================================================
                    Colors
===================================================== */


:root {
    --main-color-red: #8C0335;
    --main-color-bordeaux: #40011e;
    --main-color-purple: #8C5E85;
    --main-color-white: #F2F2F2;
    --main-color-black: #0D0D0D;
}

.b-color-red {
    background-color: var(--main-color-red);
}
.b-color-bordeaux {
    background-color: var(--main-color-bordeaux);
}
.b-color-purple {
    background-color: var(--main-color-purple);
}
.b-color-white {
    background-color: var(--main-color-white);
}
.b-color-black {
    background-color: var(--main-color-black);
}

.color-red {
    color: var(--main-color-red);
}
.color-bordeaux {
    color: var(--main-color-bordeaux);
}
.color-purple {
    color: var(--main-color-purple);
}
.color-white {
    color: var(--main-color-white);
}
.color-black {
    color: var(--main-color-black);
}
