
/* // Small devices (landscape phones, less than 992px) */
@media (max-width: 991.98px) {

    /************************************************************
    *                       global  (max-width: 991.98px)                      
    ************************************************************/
    h1,
    .h1 {
        font-size: 2.5rem!important;
    }

    h2,
    .h2 {
        font-size: 2rem!important;
    }

    h3,
    .h3 {
        font-size: 1.75rem!important;
    }

    h4,
    .h4 {
        font-size: 1.5rem!important;
    }

    h5,
    .h5 {
        font-size: 1.25rem!important;
    }

    h6,
    .h6 {
        font-size: 1rem!important;
    }

    section {
        min-height: 90vh;
    }
    


    /************************************************************
    *                       header     (max-width: 991.98px)                  
    ************************************************************/


    header {
        height: 15vh;
    }

    .header-logo {
        height: 6vh;
        margin: 4.5vh 0 4.5vh 0;
    }

    #desktop-navbar {
        display: none;
    }

    #mobile-navbar {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .nav-item {
        padding: 0;
    }

    .login-div {
        height: 15vh;
    }

    .menu-div {
        height: 15vh;
        text-align: center;
    }

    .dropdown-menu {
        width: 100vw;
        left: calc(0px - 50vw);
    }

    /************************************************************
    *                       footer     (max-width: 991.98px)                  
    ************************************************************/

    footer {
        height: 50vh;
    }

    footer.col-6,
    footer.col-12, footer.col-md-4 {
        padding: 0 ;
    }


}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /************************************************************
    *                       global  (max-width: 767.98px)                      
    ************************************************************/
    h1,
    .h1 {
        font-size: 2.5rem!important;
    }

    h2,
    .h2 {
        font-size: 2rem!important;
    }

    h3,
    .h3 {
        font-size: 1.75rem!important;
    }

    h4,
    .h4 {
        font-size: 1.5rem!important;
    }

    h5,
    .h5 {
        font-size: 1.25rem!important;
    }

    h6,
    .h6 {
        font-size: 1rem!important;
    }

    section {
        min-height: 90vh;
    }
    


    /************************************************************
    *                       header     (max-width: 767.98px)                  
    ************************************************************/


    header {
        height: 15vh;
    }

    .header-logo {
        height: 6vh;
        margin: 4.5vh 0 4.5vh 0;
    }

    #desktop-navbar {
        display: none;
    }

    #mobile-navbar {
        display: block;
    }

    .navbar {
        padding: 0;
    }

    .nav-item {
        padding: 0;
    }

    .login-div {
        height: 15vh;
    }

    .menu-div {
        height: 15vh;
        text-align: center;
    }

    .dropdown-menu {
        width: 100vw;
        left: calc(0px - 50vw);
    }

    /************************************************************
    *                       footer     (max-width: 767.98px)                  
    ************************************************************/

    footer {
        height: 50vh;
    }

    footer.col-6,
    footer.col-12, footer.col-md-4 {
        padding: 0 ;
    }


}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /************************************************************
    *                       global  (max-width: 575.98px)                      
    ************************************************************/
    h1,
    .h1 {
        font-size: 2.5rem!important;
    }

    h2,
    .h2 {
        font-size: 2rem!important;
    }

    h3,
    .h3 {
        font-size: 1.75rem!important;
    }

    h4,
    .h4 {
        font-size: 1.5rem!important;
    }

    h5,
    .h5 {
        font-size: 1.25rem!important;
    }

    h6,
    .h6 {
        font-size: 1rem!important;
    }

    section {
        min-height: 90vh;
    }
    


    /************************************************************
    *                       header     (max-width: 575.98px)                  
    ************************************************************/


    .navbar {
        padding: 0;
    }

    .nav-item {
        padding: 0;
    }


    .menu-div {
        height: 15vh;
        text-align: center;
    }

    .dropdown-menu {
        width: 100vw;
        left: calc(0px - 50vw);
    }

    /************************************************************
    *                       footer     (max-width: 575.98px)                  
    ************************************************************/

    footer.col-6,
    footer.col-12, footer.col-md-4 {
        padding: 0 ;
    }


}


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {} 
/* 
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */
