
/*===================================================
                    Colors
===================================================*/
body {
    display: none !important;
}

:root {
    --main-color-red: rgba(140, 3, 53, 0.1);
    --main-color-bordeaux: rgba(64, 1, 30, 1);
    --main-color-purple: rgba(140, 94, 133, 0.1);
    --main-color-white: rgba(242, 242, 242, 1);
    --main-color-black: rgba(13, 13, 13, 1);
}

.b-color-red {
    background-color: var(--main-color-red);
}
.b-color-bordeaux {
    background-color: var(--main-color-bordeaux);
}
.b-color-purple {
    background-color: var(--main-color-purple);
}
.b-color-white {
    background-color: var(--main-color-white);
}
.b-color-black {
    background-color: var(--main-color-black);
}

.color-red {
    color: var(--main-color-red);
}
.color-bordeaux {
    color: var(--main-color-bordeaux);
}
.color-purple {
    color: var(--main-color-purple);
}
.color-white {
    color: var(--main-color-white);
}
.color-black {
    color: var(--main-color-black);
}

/*===================================================
                    Fonts
===================================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
th,
td,
button
i,
label {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: black;
}

.pagination,
.page-item,
.page-link,
.action-link {
    color: inherit;
}

.pagination:hover,
.page-item:hover,
.page-link:hover,
.action-link:hover {
    color: inherit;
}

.btn-primary,
.btn-bordeaux {
    color: var(--main-color-white);
    background-color: var(--main-color-bordeaux);
    border: solid 1px var(--main-color-white);
}

.btn-bordeaux:hover,
.btn-primary:hover {
    color: var(--main-color-bordeaux);
    background-color: var(--main-color-white);
    border: solid 1px var(--main-color-bordeaux);
}


/************************************************************
*                       global                        
************************************************************/

.container-fluid {
    max-width: 1400px;
}

.deleteLabel {
    margin: 0 1rem 0 0;
}

.btn-upload {
    color: var(--main-color-black);
    border: solid 1px var(--main-color-red);
}

.btn-upload:hover {
    border: solid 1px var(--main-color-black);
}

.action-link {
    margin: 1rem;
}

input {
    max-width: 100%;
}


.dropdown-toggle::after {
    display: none;
}

img {
    width: auto;
    max-width: 100%;
}

.server-message {
    color: rgba(64, 1, 30, 0.5);
}

/************************************************************
*                       header                        
************************************************************/

header {
    height: 6rem;
    text-transform: uppercase;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
}

.header-logo {
    width: auto;
    margin: 0.5rem 0 0.5rem 0;
}

#desktop-navbar {
    display: block;
}

#mobile-navbar {
    display: none;
}

.navbar {
    padding: 0;
}

.nav-item {
    color: var(--main-color-bordeaux);
    padding: 3rem 2rem 2rem 2rem;
    border-bottom: 3px solid white;
    font-size: 1.25rem;
}

.nav-item:hover {
    color: rgba(64, 1, 30, 0.5);
    text-decoration: none;
    border-bottom: 3px solid  rgba(64, 1, 30, 0.5);
}

.login-div {
    height: 6rem;
    text-align: center;
    background-color: var(--main-color-bordeaux);
}

.login-div:hover { 
    color: rgba(64, 1, 30, 0.5);
}

.login-text {
    color: inherit;
    letter-spacing: 1px;
    font-size: 1.25rem;
}

.login { 
    color: var(--main-color-white);
    border-bottom: none;
}

.login:hover { 
    color: var(--main-color-bordeaux);
    background-color: var(--main-color-white);
}

header h5 {
    margin: 0;
}

/************************************************************
*                       Structure                           *
************************************************************/



/************************************************************
                        footer                         
************************************************************/

footer {
    padding: 2rem 0;
    color: var(--main-color-white);
    background-color: var(--main-color-bordeaux);
    height: 25vh;
    min-height: 14rem;
}

.footer-logo {
    width: auto;
    margin: 0.5rem 0 0.5rem 0;
}

.footer-quote {
    margin: 2rem 0 0;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 100;
    text-align: right;
    color: var(--main-color-white);
}

.footer-nav-item {
    color: white;
    text-transform: uppercase;
    text-align: right;
}

.footer-nav-item:hover {
    text-decoration: none;
    color: white;
    border-bottom: solid 1px white; 
}