
/* // Medium devices (tablets, less than 992px)  */
@media (max-width: 991.98px) {

    /************************************************************
    *                       global  (max-width: 991.98px)                      
    ************************************************************/
    h1,
    .h1 {
        font-size: 6rem;
    }

    h2,
    .h2 {
        font-size: 5rem;
    }

    h3,
    .h3 {
        font-size: 4rem;
    }

    h4,
    .h4 {
        font-size: 2rem;
    }

    h5,
    .h5,
    i,
    button,
    label, 
    .form-control,
    .login-submit {
        font-size: 1.5rem;
    }

    h6,
    .h6 {
        font-size: 1rem;
    }
    

    


    /************************************************************
    *                       header     (max-width: 991.98px)                  
    ************************************************************/


    header {
        height: 13vh;
    }

    #desktop-navbar {
        display: none;
    }

    #mobile-navbar {
        display: block;
    }

    .nav-item {
        padding: 0;
    }

    .login-div {
        height: 13vh;
    }

    .login-text {
        font-size: 20px;
    }

    .logout-text {
        font-size: 20px;
    }

    .menu-div {
        height: 13vh;
        text-align: center;
    }

    .dropdown-menu {
        width: 100vw;
        left: calc(0px - 50vw);
    }

    .dropdown-item {
        text-align: center;
        font-size: 2rem;
    }

    /************************************************************
    *                       footer     (max-width: 991.98px)                  
    ************************************************************/

    footer.col-6,
    footer.col-12, footer.col-md-4 {
        padding: 0 ;
    }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /************************************************************
    *                       global  (max-width: 767.98px)                      
    ************************************************************/
    h1,
    .h1 {
        font-size: 2.5rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.75rem;
    }

    h4,
    .h4 {
        font-size: 1.5rem;
    }

    h5,
    .h5 {
        font-size: 1.25rem;
    }

    h6,
    .h6 {
        font-size: 1rem;
    }

    


    /************************************************************
    *                       header     (max-width: 767.98px)                  
    ************************************************************/

    header {
        height: 20vh;
    }

    .header-logo {
        max-width: 50%;
    }




    /************************************************************
    *                       footer     (max-width: 767.98px)                  
    ************************************************************/


}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /************************************************************
    *                       global  (max-width: 575.98px)                      
    ************************************************************/
    h1,
    .h1 {
        font-size: 2.5rem;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 1.75rem;
    }

    h4,
    .h4 {
        font-size: 1.5rem;
    }

    h5,
    .h5,
    i {
        font-size: 1.25rem;
    }

    h6,
    .h6 {
        font-size: 1rem;
    }
    

    /************************************************************
    *                       header     (max-width: 575.98px)                  
    ************************************************************/

    header {
        height: 15vh;
    }

    .header-logo {
        max-width: 80%;
    }

    .navbar {
        padding: 0;
    }

    .nav-item {
        padding: 0;
        font-size: 1rem;
    }

    .dropdown-item {
        font-size: 1.75rem;
    }

    .login-text {
        font-size: 1rem;
    }


    .menu-div {
        height: 15vh;
        text-align: center;
    }

    .dropdown-menu {
        width: 100vw;
        left: calc(0px - 50vw);
    }

    /************************************************************
    *                       footer     (max-width: 575.98px)                  
    ************************************************************/

    footer.col-6,
    footer.col-12, footer.col-md-4 {
        padding: 0 ;
    }


}


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {} 
/* 
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */
