#loginSection {
    position: relative;
}

.login-container {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-container {
    height: 40vh;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.login-submit {
    width: 100%;
}