
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    h3 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 0.75rem;
    }

    /************************************************************
    *                  Collection       (max-width: 575.98px)                      
    ************************************************************/

    #desktop-collection {
        display: none;
    }

    #mobile-collection {
        display: block;
    }

    .wine-image {
        display: none;
    }

    .mobile-wine-container {
        padding: 1rem 0;
        text-align: left;
    }

    .mobile-wine-container .col-4,
    .mobile-wine-container .col-8 {
        padding: 0;
    }

    .wine-image-mobile {
        display: block;
        height: 15vh;
    }

    .name {
        margin-bottom: 1rem;
    }

    .region {
        font-weight: 100;
        margin-bottom: 0;
        line-height: 1.1;
    }

    .grape {
    }
    


    /************************************************************
    *                            (max-width: 575.98px)                  
    ************************************************************/


    /************************************************************
    *                            (max-width: 575.98px)                  
    ************************************************************/



}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {} 
/* 
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */
