{% extends 'layout.html.twig' %}
{% block title %}Admin{% endblock %}

    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin.css">
    {% endblock %}
    {% block sectionNav %}
    <section id="sectionNav">
        <div class="container-fluid">
            <h1>Admin</h1>
            <nav class="admin-nav">
                <div class="" id="">
                    <ul class="nav nav-pills">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item nav-item admin-nav-item">
                            <a class="action-link" href="{{ path('user_index') }}">Users</a>
                        </li>
                        <li class="nav-item admin-nav-item">
                            <a class="action-link" href="{{ path('hero_index') }}">Homepage</a>
                        </li>
                        <li class="nav-item admin-nav-item">
                            <a class="action-link" href="{{ path('article_index') }}">Articles</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        </div>
    </section>
    {% endblock %}

    {% block content %}
    {% endblock %}