{% extends 'layout.html.twig' %}
{% block title %}Admin{% endblock %}

    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin/admin.css">
            <link rel="stylesheet" href="/css/views/admin/admin.media.css">
    {% endblock %}
    {% block sectionNav %}
    <section id="sectionNav">
        <div class="container-fluid">
            <h1>Admin</h1>
            <nav class="">
                <ul class="nav nav-pills admin-nav col-12 col-md-4">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="admin-nav-item">
                        <a class="action-link" href="{{ path('user_index') }}">Users</a>
                    </li>
                    <li class="admin-nav-item">
                        <a class="action-link" href="{{ path('hero_edit', {'id': 1}) }}">Homepage</a>
                    </li>
                    <li class="admin-nav-item">
                        <a class="action-link" href="{{ path('article_index') }}">Articles</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

        </div> 
    </section>
    {% endblock %}

    {% block content %}
    {% endblock %}