{% extends 'layout.html.twig' %}
{% block title %}Admin{% endblock %}

    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin.css">
    {% endblock %}
    {% block sectionNav %}
    <section id="sectionNav">
        <div class="container">
            <h1>Admin</h1>
            <nav class="">
                <div class="" id="">
                    <ul class="">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="">
                            <a class="" href="{{ path('user_index') }}">Users</a>
                        </li>
                        <li class="">
                            <a href="{{ path('hero_index') }}">CMS</a>
                        </li>
                        <li class="">
                            <a href="{{ path('article_index') }}">Article</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section id="adminSection">
        <div class="container">
            {% block adminContent %}
            {% endblock %}
        </div>
    </section>
    {% endblock %}