{% extends 'admin/index.html.twig' %}

{% block title %}Edit Hero{% endblock %}

{% block content %}
<section id="">
    <div class="container-fluid">
        <h2>Edit Hero</h2>

        {{ include('admin/hero/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="action-link" href="{{ path('hero_index') }}">back to list</a>
    </div>
</section>

{% endblock %}
