{% extends 'admin/index.html.twig' %}

{% block title %}Edit Hero{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin/admin.css">
            <link rel="stylesheet" href="/css/views/admin/admin.media.css">
            <link rel="stylesheet" href="/css/views/hero/hero.css">
            <link rel="stylesheet" href="/css/views/hero/hero.media.css">
    {% endblock %}

{% block content %}
<section id="hero">
    <div class="container-fluid">
        <h2>Edit Homepage</h2>
        {{ include('admin/hero/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="col-md-12">
            
        </div>
    </div>
</section>

{% endblock %}
