{% extends 'base.html.twig' %}

{% block title %}New Hero{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin.css">
            <link rel="stylesheet" href="/css/views/hero.css">
    {% endblock %}

{% block content %}
<section id="hero">
    <div class="container-fluid">
        <h2>Create new Hero</h2>

        {{ include('admin/hero/_form.html.twig') }}

        <a class="action-link" href="{{ path('hero_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
