{% extends 'base.html.twig' %}

{% block title %}New Hero{% endblock %}

{% block content %}
<section id="">
    <div class="container">
        <h2>Create new Hero</h2>

        {{ include('admin/hero/_form.html.twig') }}

        <a href="{{ path('hero_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
