

/************************************************************
*                       Section-1                           *
************************************************************/

#section-1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
}

.hero-content-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content-container h1 {
    color: var(--main-color-white); 
}

.hero-content-container h4 {
    color: var(--main-color-white);
}



/************************************************************
*                       Section-2                           *
************************************************************/

#section-2 {
    margin-top: 5rem;
}

.slider-row {
    display: flex;
}

#homeSlider {
    width: 90%;
    margin: 0 auto;
}

.wine-banner {
    color: white;
    background-color: var(--main-color-red);
    margin-bottom: 3em;
}

.slick-arrow {
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    font-size: 50px;
}

/************************************************************
                        Section-3                          
************************************************************/

#section-3 {
    color: var(--main-color-white);
    margin-top: 5rem;
    background-color: var(--main-color-purple);
}

.article-col {
    padding: 0 6px;
}

.article-image-small {
    width: 100%;
}

.article-title {
    color: var(--main-color-black);
    text-align: center;
    text-transform: capitalize;
}

.article-text {
    color: var(--main-color-black);
    text-align: center;
}

.article-title:hover {
    color: var(--main-color-black);
    text-align: center;
    text-transform: capitalize;
}

.article-text:hover {
    color: var(--main-color-black);
    text-align: center;
    text-decoration: none;
}

