{# templates/layout.html.twig #}
{# extends from base.html.twig and defines the content structure used in all or most of the pages, such as a two-column content + sidebar layout. Some sections of the application can define their own layouts (e.g. templates/blog/layout.html.twig); #}
{% extends 'base.html.twig' %}
{% block body %}
layout
    <h1>My Cave</h1>
    {% block content %}{% endblock %}
{% endblock %}