{% extends 'admin/index.html.twig' %}

{% block title %}Edit Article{% endblock %}
    {% block childStyleSheets %}
            <link rel="stylesheet" href="/css/views/admin/admin.css">
            <link rel="stylesheet" href="/css/views/admin/admin.media.css">
            <link rel="stylesheet" href="/css/views/article/article.css">
            <link rel="stylesheet" href="/css/views/article/article.media.css">
    {% endblock %}

{% block content %}
<section id="article">
    <div class="container-fluid">
        <h1>Edit Article</h1>
        <a class="action-link" href="{{ path('article_index') }}"><i class="fas fa-arrow-left"></i>  back to list</a>

        {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="col-md-12">
        </div>
    </div>
</section>

{% endblock %}
